table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

td.celula {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    text-align: center;
    font-weight: bold;
    vertical-align: center;
    height: 50px;
    width: 50px;
}

td.personagem {
   background-image: url(/images/juncuncio.jpg);
   background-size: cover;
   /* rgb(211, 211, 211);*/
    cursor: pointer;
}

td.objetivo {
    /*background-color:/*rgb(236, 217, 42);*/
    background-size: cover;
    color: white;
    background-image: url(/images/pokebola.png);
}

td.bloco {
    background-image: url(/images/pedra.png);
    background-size: cover;
    /* black; */
    color: white;
}
.movimenta{
    font-size: 50px;
}